/*work sans font */
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/*shared styles */
*{
    font-family: 'Work Sans', sans-serif;
}

/*header section */

.logo img{ 
    width: 86px;
    height: 40px;
}

.web_title{
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;

}

.logo{
    display: flex;
    gap: 20px;
    align-items: center;   
}
li a{
    text-decoration: none;
    text-align: center;
    color: #3C354F;
}

.links ul{
    
    list-style: none;
    gap: 30px;
    display: flex;
    text-align: center;
}

.links li{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    
}

.links a img{
    margin-left: 10px;
    max-width: 33px;
    max-height: 24px;

}

.logo_links{
    
    padding: 10px;
    height: 40px;
    width: 262px;
    border-radius: 8px;
    background-color: rgba(11, 2  ,35, 0.10);
}

.links{
    padding-top: 20px;
    font-size: 18px;
    color: #3C354F;
    font-weight: 500;
}

nav{
    max-height: 140px;
    margin-left:160px ;
    margin-right:160px ;
    display: flex;
    align-items: center;
    justify-content:space-between ;

}

/*banner section */
.banner_text {
    width: 900px;
    height: 550px;
    padding-left: 240px;
    padding-top: 150px;
    fill: linear-gradient(235deg, rgba(140, 87, 238, 0.03) 3.9%, rgba(241, 68, 174, 0.03) 100.56%);
    background-image: url("images/banner-background.png");
}
.play{
    color: #0B0223;
    padding-left: 4px;
    margin: 0;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.goat{
    font-size: 5.5rem;
    font-weight: 800;
    margin: 0;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;

}
.sign_button{
    color: #FFF;
    font-size: 1.12rem;
    font-weight: 600;
    padding: 21px 40px;
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    border: 0;
    }
.go_button{
    color: #FFF;
    font-size: 1.12rem;
    font-weight: 600;
    padding: 21px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    border: 0;
}

.button{
    
    margin-top: 30px;
    display: flex;
    gap: 10px;
}
.spec{
    
    display: flex;
    gap: 10px;
    align-items: center;
}

.spec img{
    width: 24px;
    height: 24px;
}

.banner{
    display: flex;
    gap: 90px;
}

.banner_img{
    width: 650px;
    padding-top: 20px;

}

/*online games section */
.online_games_heading{
    font-size: 2.5rem;
    color: #0B0223;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0; 

}
.funny{
    font-size: 2.5rem;
}

.online_games_para{
    color: #534C64;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 50px;
}

.four_cards{
    display: grid;
    grid-template-columns:repeat(4,1fr);
}
.card_img{
    height:400px ;
    width:340px ;
    transition: filter 0.1s ease;  /*  */
}
.card p{
    max-width: 340px;
    padding: 10px;
    text-align: center;
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;   
}

.card{ /* */
    position: relative;
    overflow: hidden;
}

.overplay{ /* */
    position: absolute;
    top: 150px;
    left: 120px;
    opacity: 0;
    transition: opacity 0.1s ease;
}

.overplay p{
    color: #FF42A5;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }

.overplay img{
    width: 48px;
    height: 48px;
}
.overplay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card:hover .card_img{
    filter: brightness(25%);
}
.card:hover .overplay {
    opacity: 1;
  }


/* play instantly */
.play_instantly{
    margin-top: 80px;
    display: flex;
    gap: 250px;
    margin-left: 150px;   
}
.play_images{
    width: 0;
    height: 0;
    
}
.play_texts h3{
    padding-top: 150px;
}   
.play_texts h3, .play_texts p{
    width: 340px;
    text-align: center;   
}

.man_with_horse{
     width: 634px;
    height: 650px;
    border-radius: 8px; 
}

.taking_angela{
     width: 318px;
    height: 365px;
    border-radius: 8px; 
    position: relative;
    right: 150px;
    top: -290px;
    
}

/* games list */
.games_list{
    margin-left: 60px;
    margin-top: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}
.games{
    margin-left: 0px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 80px;
    border: 2px solid transparent;
    border-radius: 50px;

}
.games_p{
    color: #0B0223;
    font-size: 18px;
    font-weight: 600;
}
.games:hover{
    border-color: #FF42A5;
    
}

.games:hover .games_p{
    color: #FF42A5;
}
.games img{
    width: 60px;
    height: 60px;
}

/* footer */


footer{
    background: #0B0223;
    margin-top: 50px;
    
}
.footer_heading{
    display: flex;
    gap: 20px;
    align-items: center;
    margin: auto;
    width: 18%;
    
}
.footer_heading h3{
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 700;
    
}

.footer_heading img{ 
    width: 86px;
    height: 40px;

}
.footer_links ul{
    list-style:none;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.footer_links li{
    text-decoration: none;
}

.footer_links li a {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}

.footer_logos{
    margin-top: 50px;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.terms{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 60px;
}
.terms p{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

.rights{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 50px;
}


/*for tab */

/*nav*/
@media screen and (max-width:769px){
    nav{
        margin-left: 0px;
        margin-right: 0px;
        flex-direction: column;
        
    }
    .logo h3{
        margin: 0;
        padding: 0;
    }
    

    .banner{
        flex-direction: column;
        gap: 30px;
    }
    .banner_text{
        margin-top: 50px;
        width: auto;
        height: auto;
        padding-left: 00px;
        padding-top: 50px;
        text-align: center;
        padding-bottom:50px ;
    }

    .spec, .button{
        padding-left: 200px;
    }
    /* online games section */

    .four_cards{
        margin-top: 20px;
        display: grid;
        grid-template-columns:repeat(2,1fr);
    }

    /* play instantly */
    .play_instantly{
        margin-top: 0;
        flex-direction: column;
        gap: 50px;
         margin-left: 150px; 
       
    }
    .play_texts h3, .play_texts p{
        padding-top: 0px;
        padding-left: 100px;

    }

    /* games list */
    .games_list{
        margin-top: 800px;
        grid-template-columns: repeat(3,1fr);
        margin-left: 100px;
    }
    .games{
        gap: 5px;
        text-align: left;
        width: 200px;
        height: 80px;
    }
    .next{
        margin-left: 0px;
    }
    
      
}



/*for mobile */

/*nav*/
@media  screen and (max-width:426px) {

.links ul{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}    

nav{
    margin-left: 300px;
    margin-right: 0px;
    flex-direction: column;
    
}


.spec, button{
    margin-left: 30px;
}
.button{
    gap: 0px;
}
.logo h3{
    margin: 0;
    padding: 0;
}


.banner{
    margin-top: 150px;
    flex-direction: column;
    gap: 30px;
    padding-left: 50px;
}
.banner_text{
    margin-top: 50px;
    width: 500px;
    height: auto;
    padding-left: 0px;
    padding-top: 50px;
    text-align: center;
    padding-bottom:50px ;
    margin-left: 100px;
}

.spec, .button{
    padding-left: 0px;
}

/* online games section */
.online_games_heading, .online_games_para{
    width: 700px;
}

.four_cards{
    padding-left: 180px;
    margin-left: 00px;
    display: grid;
    grid-template-columns:min-content;
}

.card_img{
    width: 450px;
}

.games_list{
    margin-left: 400px;
    margin-top: 800px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
}

footer{
    width:780px;
    height: auto;
}
.footer_heading{
    width: 30%;
}

.footer_links ul{
    list-style:none;
    display: grid;
    grid-template-columns:15% 15% 15%;
    gap: 10px;
    grid-gap: 50px;    
}

.footer_logos{
    margin-left: 30px;
    margin-top: 70px;
    display:grid;
    gap: 10px;
    grid-gap: 50px;
    grid-template-columns: 15% 15% 15%;
}

.terms{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 10px;
    grid-gap: 0px;
    margin-bottom: 40px;
}



}